body {
  padding: 30px;
}

.section,
.div,
.description {
  width: 800px;
  border: 2px solid #47ca47;
  padding: 20px;
  color: #47ca47;
  font-size: 16px;
  font-weight: 700;
}

.div {
  width: 600px;
  border: 2px solid #c94940;
  color: #c94940;
}

.description {
  width: 400px;
  border: 2px solid #4448cf;
  color: #4448cf;
}

.text {
  display: block;
  padding: 20px;
}
.action {
  padding: 5px 20px;
  background-color: rgb(43, 43, 140);
  border: none;
  border-radius: 20px;

  font-size: 20px;
  font-weight: 700;
  color: #f7e2e2;
}
.action:not(:last-child) {
  margin-right: 20px;
}
.action:hover {
  background-color: rgb(67, 67, 189);
}

.form {
  margin-top: 30px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  display: block;
  border: 2px solid #cacaca;
  border-radius: 20px;
  width: fit-content;
  margin-bottom: 10px;
}

.input {
  box-sizing: border-box;
  padding: 10px 20px;
  background: inherit;
  border: none;
  width: 200px;
  outline: none;
}

.calendar {
  margin-top: 50px;
}

.table-day {
  width: 50px;
  padding: 5px 0px;
  text-align: center;
  font-weight: 700;
  color: rgb(52, 50, 50);
  border: 1px solid rgb(115, 115, 115);
}
.table-day:hover {
  background-color: rgb(83, 241, 241);
}
.selected {
  background-color: rgb(46, 222, 64);
}
